img {
  border-radius: 3.90625%;
}

body {
  background: #0d2125;
  background: url('../assets/background-480p.png') no-repeat center center fixed;
  background: url('../assets/background-720p.png') no-repeat center center fixed;
  background: url('../assets/background.png')      no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size:    cover;
  -o-background-size:      cover;
  background-size:         cover;
}
