code, samp {
	font-family: "Droid Sans Mono", monospace;
}

h1, h2, h3, h4, h5, h6, summary {
	font-family: "Merriweather", serif;
}


h1:hover a.hash-link,
h2:hover a.hash-link,
h3:hover a.hash-link,
h4:hover a.hash-link,
h5:hover a.hash-link,
h6:hover a.hash-link,
summary:hover a.hash-link {
	visibility: visible;
	opacity: 1;
}

h1 a.hash-link,
h2 a.hash-link,
h3 a.hash-link,
h4 a.hash-link,
h5 a.hash-link,
h6 a.hash-link,
summary a.hash-link {
	float: left;
	visibility: hidden;
	opacity: 0;
	padding-right: calc(1em / 5.5);
	margin-left: calc(-1em / 1.1);
  transition: all 0.5s;
}


h1 a.hash-link, h2 a.hash-link, h3 a.hash-link, h4 a.hash-link, h5 a.hash-link, h6 a.hash-link, summary a.hash-link,
a .fa, a .far, a .fab, a [class*="icon"], a [class*="devicon"],
a.fa,  a.far,  a.fab,  a[class*="icon"],  a[class*="devicon"]   {
	color: inherit;
	text-decoration: none;
}
