code, samp {
	font-family: "Droid Sans Mono", monospace;
}

h1, h2, h3, h4, h5, h6, .merriweather {
	font-family: "Merriweather", serif;
}

.roboto {
	font-family: "Roboto Slab", serif;
}


a .fa, a [class*="icon"], a [class*="devicon"],
a.fa,  a[class*="icon"],  a[class*="devicon"]   {
	color: black;
	text-decoration: none;
}
