.overlay-container {
	display: inline-block;
	position: relative;
}

.overlay-target {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@media (prefers-color-scheme: dark) {
	.overlay-container .dark-invert {
		filter: none !important;;
	}
}
