ul, ol {
	margin-top: 0;
	margin-bottom: 0;
}

a > i.fa,
a > i.fab,
a > i.far {
	color: black;
}

.hidden {
	display: none;
}

.smallcaps {
	font-variant: small-caps;
}

@media (prefers-color-scheme: dark) {
	.dark-invert {
		filter: invert(1);
	}
}


#liberapay-btn:hover {
	background-color: #fbce1a;
}
