@import url('index.css');
@import url('https://octicons.github.com/components/octicons/octicons/octicons.css');

th {
	background-color: #535353;
}

tr:nth-child(even) {
	background-color: #333333;
}

tr:nth-child(odd) {
	background-color: #232323;
}

table {
	width: 100%;
}

.github_get_prs {
	position: absolute;
	right:    0;
}
