html, body {
	background-color: #131313;
	overflow:         auto;
	padding:          0;
	height:           100%;
	margin:           0;
	color:            #ECECEC;
}

:link {
	color: #FFFF11;
}

:visited {
	color: #AAE574;
}

.img_up {
	position: absolute;
	z-index:  10000000;
	bottom:   0;
	right:    0;
}

.wrapper {
	min-height: 100%;
	overflow:   hidden;
	position:   relative;
}

.content {
	padding-bottom: 1.2em;
}

.footer {
	padding-bottom: .2em;
	position:       absolute;
	bottom:         0;
	height:         1em;
	width:          100%;
	left:           0;
}
