@media all and (min-device-width: 400px) {
	body {
		margin: 0 auto;
		margin-left: 2em;
		margin-right: 2em;
	}

	hr {
		color: transparent;
	}
}

@media all and (min-device-width: 600px) {
	body {
		margin: 0 auto;
		margin-left: 4em;
		margin-right: 4em;
	}
}

@media all and (min-device-width: 800px) {
	body {
		max-width: 51.25%;
		margin: 0 auto;
	}
}
